.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  padding: 1em 1em;
  border-radius: 12px;
  max-width: 720px;
  margin: 0 2em;
  text-align: center;
}

.login p {
  font-size: 24px;
  font-weight: 300;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}