.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  padding: 1em 1em;
  margin: 2em 0;
  border-radius: 12px;
}

.login p {
  font-size: 24px;
  font-weight: 300;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
